<mat-card class="card">
  <mat-card-content
    ><h2>Login User</h2>

    <form class="example-form" [formGroup]="loginForm">
      <mat-form-field class="example-full-width">
        <mat-label> Email</mat-label>
        <input
          input
          type="email"
          matInput
          placeholder="enter email"
          formControlName="email"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          input
          type="password"
          matInput
          placeholder="enter password"
          formControlName="password"
        />
      </mat-form-field>
    </form>
    <button mat-button color="primary" class="but1"(click)="login()">Login</button>
    <button mat-button color="primary" class="but2" routerLink="/signup">
      SignUp
    </button>
    
  </mat-card-content>
</mat-card>
